<!-- edit_profile.html -->
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Profile</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;800&display=swap" />
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index 2.css' %}" />
    <link rel="stylesheet" href="{% static 'css/editprofile.css' %}" />
</head>
<body>
    <div class="main-container">
        <script src="{% static 'js/common.js' %}" async></script>
        <div class="flex-row-d">
            <div class="symbol-1"></div>
            <div class="symbol-2"></div>
            <div class="rectangle-1">
                <h2>Edit Profile</h2>
                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.as_p }}
                    <hr>
                    <h3>Change Password</h3>
                    {{ password_form.as_p }}
                    <button type="submit">Save Changes</button>
                </form>
            </div>
            <div class="symbol-3"></div>
            <div class="symbol-4"></div>
        </div>
    </div>
</body>
</html>
