{% comment %} {% extends 'base.html' %} {% endcomment %}

{% load static %}
<head>

  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index 2.css' %}" />
  <link rel="stylesheet" href="{% static 'css/passchange.css' %}" />  
</head>

<body data-user-logged-in="{{ request.user.is_authenticated|yesno:'true,false' }}" data-user-name="{% if user.is_authenticated %}{{ user.get_username }}{% endif %}">
  
</script>
<div class="main-container">
  <script src="{% static 'js/common.js' %}" async></script>
  <div class="rectangle">

  <h2 class="heading">Reset Password Email Sent</h2>
  <h3 class="paragraph">We've emailed you instructions for setting your password. If you don't receive an email, please make sure you've entered the email address you registered with, and check your spam folder.</h3>
  <a href="{% url 'login' %}">
    <button class="btn" type="button">Go to Login</button>
  </a>
</div>    
</div>
</body>
