{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
{% load static %}
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'css/index 2.css' %}">
  <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
  <link rel="stylesheet" href="{% static 'css/passchange.css' %}"> 
</head>

<body data-user-logged-in="{{ request.user.is_authenticated|yesno:'true,false' }}" data-user-name="{% if user.is_authenticated %}{{ user.get_username }}{% endif %}">
  
</script>
<div class="main-container">
  <script src="{% static 'js/common.js' %}" async></script>
  
<div class="rectangle">
  <h2 class="heading">Password Reset Complete</span>
  <h3 class="paragraph">Your password has been reset successfully.<br> You can now <a href="{% url 'login' %}">login</a> with your new password.</span>
</div>
</div>
</body>

{% endblock %}