
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/index 2.css' %}">
    <link rel="stylesheet" href="{% static 'css/index.css' %}"> 
    <link rel="stylesheet" href="{% static 'css/passchange.css' %}"> 
    <title>Change Password</title>
</head>
<body data-user-logged-in="{{ request.user.is_authenticated|yesno:'true,false' }}" data-user-name="{% if user.is_authenticated %}{{ user.get_username }}{% endif %}">
<div class="main-container">
    <div class="rectangle">
        <!-- Separate form for password change -->
        <!-- html/password_reset_confirm.html -->
<form method="post">
    {% csrf_token %}

    <!-- Optionally, display non-field errors at the top of the form -->
    {% if form.non_field_errors %}
        <div class="error">
            {% for error in form.non_field_errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Explicitly display password errors above both fields if that's the intent -->
    {% if form.new_password1.errors %}
        <div class="error">
            {% for error in form.new_password1.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}
    {% if form.new_password2.errors %}
        <div class="error">
            {% for error in form.new_password2.errors %}
                <p style="color: red;">{{ error }}</p>
            {% endfor %}
        </div>
    {% endif %}

    <!-- Password Field -->
    <div class="form-group">
        <label for="id_new_password1">{{ form.new_password1.label }}</label>
        {{ form.new_password1 }}
    </div>

    <!-- Confirm Password Field -->
    <div class="form-group">
        <label for="id_new_password2">{{ form.new_password2.label }}</label>
        {{ form.new_password2 }}
    </div>

    <button type="submit">Change my password</button>
</form>

    </div>
</div>
<script src="{% static 'js/common.js' %}"></script>
</body>
</html>
{% endblock %}
