{% comment %} {% extends 'base.html' %} {% endcomment %}
{% block content %}
{% load static %}
<head>
  <meta charset="UTF-8" />
  <link rel="stylesheet" href="{% static 'css/index.css' %}" />
  <link rel="stylesheet" href="{% static 'css/index 2.css' %}" />
  <link rel="stylesheet" href="{% static 'css/passchange.css' %}" /> 
</head>

<body data-user-logged-in="{{ request.user.is_authenticated|yesno:'true,false' }}" data-user-name="{% if user.is_authenticated %}{{ user.get_username }}{% endif %}">
  
</script>
<div class="main-container">
  <script src="{% static 'js/common.js' %}" async></script>
  <div class="rectangle">

  <label class="heading">Reset Password</label>
  <div class="form-container">
    <form method="post">
    {% csrf_token %}
    {{ form.as_p }}
      <button class="btn" type="submit">Reset Password</button>
    </form>
  </div>
  </div>    
</div>
</body>


{% endblock %}