{% comment %} <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Select Time and Seats</title>
    <style>
        /* Your CSS styles here */
    </style>
</head>
<body>
    <h1>Show Times for {{ movie.title }}</h1>
    <ul>
        {% for show in shows %}
            <li>{{ show.start_time|time:"g:i A" }}</li>
        {% endfor %}
    </ul>
</body>
</html> {% endcomment %}

{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Show Times for {{ movie.title }}</title>
    <link rel="stylesheet" href="{% static 'css/index.css' %}" />
    <link rel="stylesheet" href="{% static 'css/index 2.css' %}" type="text/css" />
    <link rel="stylesheet" href="{% static 'css/indi_movie.css' %}" type="text/css" />
    <script src="{% static 'js/indi.js' %}"></script>
</head>
<body data-user-logged-in="{{ request.user.is_authenticated|yesno:'true,false' }}" data-user-name="{% if user.is_authenticated %}{{ user.get_username }}{% endif %}">
    <div class="main-container" style="padding:20px;">
        <script src="{% static 'js/common.js' %}" async></script>
    <div class="rect">
        <h1 class="dates-header">Show Times for {{ movie.title }} on {{ selected_date }}</h1>
        <div id="shows-container" style="display: flex; align-items: center; visibility: hidden">
            <button id="left-arrow" class="arrow">&#10094;</button>
                <!-- Left arrow -->
            <ul id="shows-list">
    {% for show in shows|dictsort:"start_time" %}
        <li>
            <form action="{% url 'show_seats' movie.title selected_date show.start_time|date:'Y-m-d H:i:s' show.id%}" method="GET">
                <button type="submit">{{ show.start_time|time:"g:i A" }} - {{ show.end_time|time:"g:i A" }}</button>
            </form>
        </li>
    {% empty %}
        <li>No show times available for this date.</li>
    {% endfor %}
</ul>
<button id="right-arrow" class="arrow">&#10095;</button> <!-- Right arrow -->
</body>
</html>